:root{
    --primary: #464665;
    --secondary: #6D4B64;
    --text: #FFF;
    --textDArk:#333;
    --accent: #E97A3C;
    --backgroundSubtle: #EDE2DE;
}

@font-face {
    font-family: 'Playfair Display';
    src: url();
}

body{
    margin: auto;
}

/* p::first-letter{
    color: var(--accent);
    font-weight: bolder;
    font-size: larger;
    text-align: end;
} */

.h1{
    font-family: "Lato", sans-serif;
}

.container{
    /* background-color:aqua;
    color: hotpink; */

    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 1.5rem;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.cover{
    background:url('../images/bg.png') no-repeat;
    background-size: cover;    
    text-align: center;
    padding: 0 1.5rem;
    position: relative;
    margin: auto;
    min-width: 300px;
    max-width: 540px;
    margin: auto;
    height: 100vh;
}

.name{
    background: url('../images/name.png') no-repeat;
    background-position: center;
    height: 350px;
  }

  .detail{
    padding-top: 6rem;
    color: var(--text);
    /* font-family: 'Playfair Display', serif; */
    font-size: 1rem;
    text-shadow:2px 2px 1px #333, 0px 0px 10px #300;
  }

  .date{
    background: var(--text);
    width: fit-content;
    margin: auto;
    padding: 0.25rem 0.75rem;
    border-radius: 100px;
  }

  .date p{
    font-family: Sora;
    color: var(--textDark);
    display: block;
    margin-block-start: 0em;
    margin-block-end: 0em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  }

  .username{
    background: rgba(20, 20, 20, 0.4);
    padding: 2rem;
    border-radius: 12px;
    margin-top: 1.25rem;
    color: var(--text);
  }

  .username p{
    font-family: Sora;
    margin-bottom: 0.75rem;
    color: var(--text);
  }

  .cta button{
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    font-family: Sora;
    border-radius: 0.5rem;
    margin-top: 4rem;
    border: none;
}

